[Unit]
Description=Open Vulnerability Assessment System Scanner Daemon
Documentation=man:openvassd(8) http://www.openvas.org/
After=redis-server.service
Requires=redis-server.service
PartOf=openvas.service
After=openvas.service

[Install]
WantedBy=openvas.service

[Service]
Type=forking
PIDFile=/var/run/openvassd.pid
ExecStart=/usr/sbin/openvassd --unix-socket=/var/run/openvassd.sock
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed

